@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

#header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #0D0D0D;
    color: #F2F2F0;
    position: sticky;
    top: 0;
    height: 10vh;
    padding: 10px;
}

nav ul {
    display: flex;
}

.list {
    list-style-type: none;
    padding: 10px 20px;
    /* position: relative; */
}

.list:hover {
    color: #77a1bb;
    cursor: pointer;
}

/* .list:hover::before {
    position: absolute;
    content: "";
    width: 50px;
    height: 2px;
    bottom: 0;
    left: 50%;
    margin-left: -25px;
    background: #055586;
} */

.section-1 img {
    position: absolute;
    z-index: -1;
    width: 100%;
    margin-top: -10vh;
}

.section {
    /* height: 100vh; */
}

.section-1 {
    display: flex;
    flex-direction: column;
    background-color: #01234080;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.section-1 :is(h1,p) {
    padding: 20px;
    text-align: center;
    color: white;
}

.section-1 h1 {
    font-size: 40px;
    font-weight: 800;
}
.section-1 p {
    width: 50%;
    font-weight: 500;
}

.section-1 button {
    width: 200px;
    height: 50px;
    background-color: #274659;
    border: none;
    color: white;
    font-size: large;
    border-radius: 5px;
    cursor: pointer;
}

.section-1 button:hover {
    background-color: #012340;
    transition: ease-in-out .3s;
}

.section-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.section-2 article {
    border: 1px solid rgba(128, 128, 128, 0.405);
    margin: 10px;
    padding: 10px;
    width: 350px;
    height: 380px;
    color: rgb(94, 92, 92);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 5px;
}

.section-2 article div {
    padding: 10px;
}

.section-2 article div h3 {
    margin-bottom: 10px;
    font-weight: 600;
}

.section-2 article h1 i {
    font-size: 4rem;
}

.section-2 article:hover {
    background-color: #012340;
    color: white;
    transition: ease-in-out .3s;
}

.section-3 {
    background-color: rgba(128, 128, 128, 0.085);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: #414f5b;
}

.section-3 .section-heading,
.section-4 .section-heading {
    text-align: center;
    position: relative;
    z-index: -1;
}

.section-3 .section-heading h1,
.section-4 .section-heading h1 {
    font-size: 2rem;
    margin: .5rem;
    font-weight: 500;
}

.section-3 article {
    display: flex;
    justify-content: center;
}

.section-3 .article-content {
    width: 425px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
}

.section-3 .article-content :is(h3,p) {
    margin-bottom: 20px;
}

.section-3 .article-content h3 {
    font-size: 2rem;
    font-weight: 500;
}

.section-3 article button {
    width: 200px;
    height: 50px;
    background-color: #274659;
    border: none;
    color: white;
    font-size: large;
    border-radius: 5px;
    cursor: pointer;
}

.section-3 article button:hover {
    background-color: #012340;
    transition: ease-in-out .3s;
}

.section-3 .section-heading h1::before,
.section-4 .section-heading h1::before {
    position: absolute;
    content: "";
    width: 100px;
    height: 2px;
    bottom: 0;
    left: 50%;
    margin-left: -50px;
    background: #055586;
}

.section-4 {
    color: #414f5b;
}

.section-4 .container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: space-between;
}

.section-4 .card-container {
    width: 250px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.section-4 .card-container .card {
    border: 1px solid gray;
}
.section-4 .card-container .card p {
    border-top: 1px solid gray;
}